@charset "utf-8";

p{
  margin-bottom:5px;
}
.lt_content li{
  border-bottom:1px solid #ccc;
  position:relative;
}
.lt_content li .mui-table-cell a{
  width: 100%;
  height: 100%;
  display:block;
  padding:10px;
  /* display:flex; */
}  
.lt_content li .mui-table-cell a img{
  width: 60px;
  height: 60px;
  /* padding:10px; */
}
.mui-table-cell{
  display:block;
}
.lt_content li .mui-table-cell a .right{
  /* width: 100%; */
  overflow:hidden;
  padding:0 10px;
}  
.lt_content li .mui-table-cell input{
  position:absolute;
  bottom:15px;
  left:10px;
}

.lt_content li .mui-table-cell .right .title{
  color:#222;
  font-size:16px;
}
.lt_content li .mui-table-cell .right .price{
  color:red;
}
.lt_content li .mui-table-cell .right .oldPrice{
  text-decoration:line-through;
}
.mui-table-view-chevron .mui-table-view-cell{
  padding-right:0 !important;
}
.lt_content{
  padding-bottom:30px;
  /* height: 1000px; */
  /* background-color:color; */
  position:relative;
}

.total{
  position:absolute;
  bottom:55px;
  left:50%;
  transform:translateX(-50%);
  line-height:30px;
  height:30px;
  width: 100%;
  z-index:999;
  /* padding:0 10px; */
  background-color:#ccc !important;
  font-size:12px;
  max-width:640px;
  /* margin:0 auto; */
}

.total span{
  padding-left:10px;
  color:red;
}
.total button{
  font-size:12px;
}


.lt_content .size span{
  display:inline-block;
  width: 30px;
  height: 30px;
  text-align:center;
  line-height:30px;
  border:1px solid #ccc;
  margin-bottom:5px;
}
.lt_content .size span.now{
  background-color:blue;
}
.lt_content .num{
  padding:10px;
  /* border-top:1px solid #ccc;   */
}

.lt_content .num span{
  font-size:14px;
}  
.lt_container{
  padding-bottom:85px;
}