.panel-heading{
  background-color:#337ab7 !important;
}
.panel-heading h4{
  color:#fff;
  font-size:18px;
}
.form-group{
  /* margin-bottom:30px; */
}
label{
  /* vertical-align: middle !importants; */
}

